

/*Style for home page*/
body.contact{
	margin: 0;
	padding: 0;
	font-family: : 'Arial', serif;

	min-height: 600px;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
}




 nav {
 	/*list-style: none;
	position: sticky;  
	text-align: center;*/
	padding: 0;
	margin: 0;

	/*margin-left: 40em;
	color: black;
	*/
	width: 100%;
	float: left;
	position:relative;


	opacity: 0.8;
	filter: alpha(opacity=80);
}

.nav-navigation{
	text-align: left;
	float: left;


	min-wdith: 200px;
	position: relative;

	
}



/*style the container*/
.Form{

	margin-top:4em;
	height: 100%;
	width: 100%;

	float: center;
	border-radius: 5px;

	display: inline-block;

	text-align: center;
}

.Form label{

	font-size: 20px;
	margin-right: 20px;
	text-align: right;
	color: grey;
}




input[type=text], select, textarea{

  width: 100%; 
  padding: 12px;   
  border: 1.5px solid #ccc; 
  border-radius: 10px; 
  box-sizing: border-box; 

  margin-top: 10px; 
  margin-bottom: 10px; 
  resize: vertical /
}

input[type=submit]{

	background-color: grey;
	color: white;
	padding: 12px 30px;
	border: none;
	border-radius: 4px;
	cursor: pointer;
	opacity: 0.8;
	margin-bottom: 60px;

}

.form .comments{
	object-position: relative;
}

input[type=submit]:hover {
	opacity: 0.5;
}
	


